* {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-family: "Bigelow Rules", cursive;
  font-family: "MuseoModerno", cursive;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: blue;
    padding: 30px 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-left: 45px;
}

.navbar a::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #fff;
    border-radius: 8px;
    transition: all ease .45s;
}

.navbar a:hover:after {
    width: 100%;
}

.btnLogin-popup {
    
}